* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Plus Jakarta Sans", sans-serif;
}

:root{
    --corVerde: #29a744;
    --corCinza: #ececec;
    --corBranca: #ffffff;
}

body{
    background-image: linear-gradient(45deg, #d6fffc, #f6f6f6 60%);
}

.interface {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.tela-login {
    width: 70%;
    text-align: center;
    
}

.tela-login h1{
    font-size: 3.5rem;
}

.tela-login h1 span{
    color: var(--corVerde);
}

.tela-login form{
    width: 40%;
    margin: 64px auto;
}

.tela-login form input{
    width: 100%;
    padding: 16px;
    margin-bottom: 8px;
    outline: none;
    border: none;
    background-color: var(--corCinza);
    border-radius: 8px;
    font-size: 1rem;
    font-weight: 600;
}

.tela-login form > a{
    font-size: .8rem;
    text-align: right;
    display: block;
    color: var(--corVerde);
}

.tela-login form input[type='submit']{
    margin-top: 24px;
    background-color: var(--corVerde);
    color: var(--corBranca);
    border-radius: 32px;
    cursor: pointer;
    transition: background-color .2;
}

.tela-login form input[type='submit']:hover{
    background-color: #3d9250ad;
}

.tela-login .opt-login p{
    font-weight: 600;
    margin-bottom: 16px;
}

.opt-login .btn-opt-login button{
    width: 56px;
    height: 56px;
    border: none;
    background-color: var(--corBranca);
    box-shadow: 4px 4px 10px #00000020;
    margin: 0 4px;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color .2s;

}

.opt-login .btn-opt-login button:hover{
    background-color: #f8f8f8;
}

.btn-opt-login button img{
    width: 50%;
}
.txt-criar-conta-login{
    margin-top: 56px;
}

.txt-criar-conta-login p{
    font-weight: 600;
}

.txt-criar-conta p a{
    color: var(--corVerde);
}

.img-decoracao{
    width: 30%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}

.img-login{
    background-image: url(images/viagem\ 1.png);
    border-radius: 64px 0 0 64px;
}